<li data-id="{{id}}" class="todo-task">
  <div class="todo-container {{#if completed}}checked{{/if}}">
    <span class="check"></span>
    <input type="checkbox" data-id="{{id}}" class="hidden" id="{{id}}">
    <label class="edit" for="{{id}}">{{title}} - {{dueDate}}</label>
  </div>
  <div class="trash-container">
    <a class="delete" href="#"></a>
  </div>
</li>